<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="LISTA DE CITAS" blockClass="pc-component">
      <div class="card tbl-card">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th>CÓDIGO</th>
                <th>FECHA</th>
                <th>ASESORADO</th>
                <th>ASUNTO</th>
                <th>MESAJE</th>
                <th>FECHA REGISTRO</th>
                <th>ESTADO</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of citaData">
                <tr>
                  <td>{{item.code}}</td>
                  <td>{{item.asesoradoName}}</td>
                  <td>{{item.subject}}</td>
                  <td>{{item.message}}</td>
                  <td>{{item.registerDate | date:'dd-MM-yyyy'}}</td>
                  <td>{{item.stateCita}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </app-card>
  </div>
</div>
